/*Resets */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.content {
  position: absolute;
  background-color: transparent;
  display: flex;
  justify-content: center;
}
.icon-bar {
    position: fixed;
    width: 100%; /* Full-width */
    overflow: auto;
    background-color:rgba(204, 204, 204, 0.4);
    /*position: fixed;
    top: 0;*/
}

.icon-bar a {
    font-family: 'Poppins', sans-serif;
    float: left;
    text-align: center;
    width: 20%;
    padding: 5px 0;
    transition: all 0.3s ease;
    color: #111;
    font-size: 36px;
    text-decoration: none;
}

.icon-bar a:hover {>
    background-color: #a6f6aa;
    overflow: hidden;
}

.active {
    background-color: #029d74;
}
.fa {
  padding: 0 12px;
}
.typewriter {
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
  background-color: transparent;
  margin-top: 500px;
  margin-left: 108px;
  width: 91%;
  font-size: 50px;
  text-align: center;
}
.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  font-family: 'Inconsolata', monospace;
  animation:
  typing 3.5s steps(40, end),
  blink-caret .75s step-end infinite;
}
#aboutmedescr{
  margin-top: 350px;
  font-size: 25px;
}
#aboutmedescr_hidden {
  display: none;
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

/*Video background css starts here */
#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}
video.fillWidth {
  width: 100%;
}

.wrapper {
  margin-top: 135px;
  margin-left: -3px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  background-color: black;
  background-color:rgba(204, 204, 204, 0.12);
  padding: 10px;
}


.project {
  margin: 20px;
  background-color: #0fa781;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 70px;
  color: white;
  line-height: 1;
  /*font-family: 'hobeaux-rococeaux-background', Helvetica;*/
  font-weight: 200;
  cursor: pointer;
  transition: all .3s ease;
}

.project-image{
  width: 100%;
  height: 100%;
}

/*Form CSS starts here */

.contact_form{
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 400px;
    margin: 250px 0 0 473px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.3);
}
.contact_form h1{
    background: #0fa781;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}
.contact_form input[type="text"],
.contact_form input[type="email"],
.contact_form textarea,
.contact_form select
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}
.contact_form input[type="text"]:focus,
.contact_form input[type="email"]:focus,
.contact_form textarea:focus,
.contact_form select:focus
{
    box-shadow: 0 0 5px #43D1AF;
    padding: 3%;
    border: 1px solid #43D1AF;
}

.contact_form input[type="submit"],
.contact_form input[type="button"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #0fa781;
    border-bottom: 2px solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
}
.contact_form input[type="submit"]:hover,
.contact_form input[type="button"]:hover{
    background: #2EBC99;
}

/*Form CSS ends here */

/*Modal CSS starts here */
/*.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}*/
/*Modal CSS ends here*/

/*.vid {
  position: fixed;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 0;
}*/
/*Video background css ends here */



/*Animista */
/* ----------------------------------------------
 * Generated by Animista on 2017-5-26 16:38:26
 * http://animista.net
 * T: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
 /*.tracking-in-expand {
 	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
 	-moz-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
 	animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
 }

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}*/
